[Unit]
Description=KMGD MongoDB Daemon at 27017
After=network.target

[Service]
User=root
ExecStart=/usr/bin/mongod --storageEngine wiredTiger --port 27017 --dbpath /home/xiejun/mongodbdata --logpath
/home/xiejun/mongodblog/mongo.log

[Install]
WantedBy=multi-user.target

