<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="Use the Viewer Widget to start building new applications or easily embed Cesium into existing applications.">
    <meta name="cesium-sandcastle-labels" content="Beginner, Showcases">
    <title>KMGD WebGIS Demo v0.01</title>
	<link rel="stylesheet" href="js/CesiumUnminified/Widgets/widgets.css" />
	<link rel="stylesheet" href="css/black-green-theme/jquery-ui-1.10.4.custom.css" />
	<link rel="stylesheet" href="css/ligerui-skins/Aqua/css/ligerui-all.css" />
	<link rel="stylesheet" href="css/ligerui-skins/ligerui-icons.css" />
	<link rel="stylesheet" href="css/DrawHelper.css" />
	<link rel="stylesheet" href="css/kmgd-tools.css" />
	<!--<link rel="stylesheet" href="css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="css/blueimp-gallery.min.css">-->
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="css/jquery.fileupload.css">
	<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <script type="text/javascript" src="js/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/CesiumUnminified/Cesium.js"></script>
    <script type="text/javascript" src="js/WMTSImageryProvider.js"></script>
    <script type="text/javascript" src="js/HeightmapAndQuantizedMeshTerrainProvider.js"></script>
    <script type="text/javascript" src="js/ArcgisTileImageryProvider.js"></script>
    <script type="text/javascript" src="js/DrawHelper.js"></script>
    <!--<script type="text/javascript" src="js/jquery/jquery-1.5.2.min.js"></script>-->
    <script type="text/javascript" src="js/jquery/jquery-uuid.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.10.4.custom.js"></script>
    <!--<script type="text/javascript" src="js/jquery/jquery.mousewheel.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery/jquery.mCustomScrollbar.js"></script>-->
    <!--<script type="text/javascript" src="js/iscroll.js"></script>-->
    <script type="text/javascript" src="js/json3.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.metadata.js"></script>
    <script type="text/javascript" src="js/jquery/messages_cn.js"></script>
    <script type="text/javascript" src="js/ligerui.all.js"></script>
    <script type="text/javascript" src="js/MathLib.min.js"></script>
    <script type="text/javascript" src="js/tinycolor-min.js"></script>
    <script type="text/javascript" src="js/catenary.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/jssor.core.js"></script>
    <script type="text/javascript" src="js/jssor.utils.js"></script>
    <script type="text/javascript" src="js/jssor.slider.js"></script>
	<!--<script type="text/javascript" src="js/jquery/jquery.ui.widget.js"></script>-->
	
    <script type="text/javascript" src="js/webgis_form_data.js"></script>
	<style>

	</style>
	
</head>
<body >
<style>
</style>
<div style="" id="dlg_progress_bar">
	<div id="div_progress_msg"></div>
	<div id="div_progress_bar"><span class="progressbartext" style="width:95%;"></span></div>
</div>
<div id="cesiumContainer" class="fullSize"></div>

<div id="control_search">
	<div id="button_search" ></div>
	<div id="text_search_waiting" >输入关键字拼音首字母</div>
	<input id="input_search" type="text" value =""><span id="button_search_clear">X</span>
</div>


<div id="drawhelpertoolbar">
</div>

<div id="control_toolpanel_kmgd_handle">&gt;
</div>
<div id="control_toolpanel_kmgd">
	<div id="accordion_tools">
	  <h3>地图图层</h3>
	  <div style="min-height:100px;">
			<input id='chb_show_label' type='checkbox'><label for='chb_show_label'>显示标签文字</label>
	  </div>
	  <h3>POI设置</h3>
	  <div style="min-height:100px;">
		 <div id='but_add_poi'></div>
	  </div>
	</div>	
</div>

<div id="dlg_poi_info" >
	<div id='dlg_confirm_poi'><div></div>
	</div>
	<div id='dlg_message_poi'><div></div>
	</div>
	<form id="form_poi_info">
	</form>
</div>


<div id="dlg_tower_info" >
	<div id='dlg_confirm'><div></div>
	</div>
	<div id='dlg_message'><div></div>
	</div>

	<div id="tabs_tower_info">
		<ul>
			<li><a href="#tower_info_base">基础信息</a></li>
			<li><a href="#tower_info_model">杆塔模型</a></li>
			<li><a href="#tower_info_segment">架空线段</a></li>
			<li><a href="#tower_info_metal">金具</a></li>
			<li><a href="#tower_info_photo">照片</a></li>
		</ul>
		<div id="tower_info_base">
			<form id="form_tower_info_base">
			</form>
		</div>
		<div id="tower_info_model">
			<div style='opacity:1.0;'>
				
				<div id="tower_info_model_list" >
					<div style="height:16px"></div>
					<div ><input id='tower_info_model_list_filter' type='text' ></div>
					<div id="div_tower_info_model_list_selectable">
						<ol id="tower_info_model_list_selectable" >
							<!--<li class="ui-widget-content">Item 1</li>-->
						</ol>					
					</div>
				</div>
				<div style="width:79%">
					<div id="tower_info_model_list_toggle" ><a href='#'></a></div>
					<div id="tower_info_title_model_code" ></div>
				</div>
				<iframe style='border:solid 1px #00FF00; width:79%;height:500px;' src=''>正在加载模型...</iframe>
			</div>
		</div>
		<div id="tower_info_segment">
			<div style='opacity:1.0;'>
				<iframe style='border:solid 1px #00FF00; width:100%;height:500px;' src=''>正在加载模型...</iframe>
				<div id="tower_info_segment_blank" style='width:100%;height:450px;'></div>
			</div>
			
		</div>
		<div id="tower_info_metal">
			<div id="listbox_tower_info_metal"></div>
			<form id="form_tower_info_metal">
			</form>
		</div>
		<div id="tower_info_photo" style="width:520px;height:480px;">
			<!--<h3>照片浏览</h3>-->
			<div id="tower_info_photo_toolbar">
				<span  class="phototoolbar-edit" style="z-index:9;width: 24px; height: 27px; top: 80px; right: 80px;" data-tower-photo="">
				</span>
				<span  class="phototoolbar-delete" style="z-index:9;width: 24px; height: 24px; top: 80px; right: 50px;">
				</span>
			</div>
			
			<div id="tower_info_photo_container" style="opacity:1.0;position: relative; width: 520px;
				height: 400px; overflow: hidden;">
		
			</div>
			<!-- Jssor Slider End -->
			<div id='div_toggle_view_upload' class="btn-primary" style='width:90%;margin:10px;text-align:center;cursor:default;'>上传照片</div>
			<div id='div_tower_photouploader' style='display:none'>
			</div>
			<div id="div_upload_desciption" style="display:none;margin:10px;">
				<textarea id="upload_desciption" style="width:480px;height:100px;color:white;background-color:black;border:1px green solid" rows="5" placeholder="在此输入备注..."></textarea>
			</div>
			
			
		</div>
	</div>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
		<td>
			<span class="preview"></span>
		</td>
		<td>
			<p class="name" data-filename="{%=file.name%}">{%=file.name.substr(0,18)%}</p>
			<strong class="error text-danger"></strong>
		</td>
		<td>
			<p class="size">正在上传，请稍候...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="border:2px green solid;height:5px;margin:2px;">
				<div class="progress-bar progress-bar-success" style="width:0%;"></div>
			</div>
		</td>
		<td>
			{% if (!i && !o.options.autoUpload) { %}
				<button class="btn-primary start" disabled>
					<span>上传</span>
				</button>
			{% } %}
			{% if (!i) { %}
				<button class="btn-warning cancel">
					<span>取消</span>
				</button>
			{% } %}
		</td>
	</tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-download fade">
		<td>
			<span class="preview">
				{% if (file.thumbnailUrl) { %}
					<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
				{% } %}
			</span>
		</td>
		<td>
			<p class="name">
				{% if (file.url) { %}
					<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
				{% } else { %}
					<span>{%=file.name%}</span>
				{% } %}
			</p>
			{% if (file.error) { %}
				<div><span class="label label-danger">Error</span> {%=file.error%}</div>
			{% } %}
		</td>
		<td>
			<span class="size">{%=o.formatFileSize(file.size)%}</span>
		</td>
		<td>
			{% if (file.deleteUrl) { %}
				<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
					<i class="glyphicon glyphicon-trash"></i>
					<span>Delete</span>
				</button>
				<input type="checkbox" name="delete" value="1" class="toggle">
			{% } else { %}
				<button class="btn btn-warning cancel">
					<i class="glyphicon glyphicon-ban-circle"></i>
					<span>Cancel</span>
				</button>
			{% } %}
		</td>
	</tr>
{% } %}
</script>

<script type="text/javascript" src="js/jquery/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script type="text/javascript" src="js/jquery/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script type="text/javascript" src="js/jquery/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<!--<script src="js/jquery/jquery.blueimp-gallery.min.js"></script>-->
<script type="text/javascript" src="js/jquery/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-ui.js"></script>
<!-- The File Upload jQuery UI plugin -->
<script type="text/javascript" src="js/jquery/jquery.fileupload-jquery-ui.js"></script>
<script type="text/javascript" src="js/webgis_index.js"></script>

</body>
</html>
